:root {
  --button-background-hover: #f64545;
}

#about_text > #resume:hover {
  background-color: var(--button-background-hover);
}

.nav_links::after {
  content: "";
  width: 0px;
  transition: 0.4s;
  display: block;
}

.nav_links:hover::after {
  width: 100%;
  border: solid 0.5px black;
}

#html:hover {
  box-shadow: 15px 12px 0px rgb(240, 50, 2);
  transition: all 0.3s;
}

#css:hover {
  box-shadow: 15px 12px 0px #008cab;
  transition: all 0.3s;
}

#js:hover {
  box-shadow: 15px 12px 0px #f3f302;
  transition: all 0.3s;
}

#git:hover {
  box-shadow: 15px 12px 0px #e94601;
  transition: all 0.3s;
}

#github:hover {
  box-shadow: 15px 12px 0px #0b0b0b;
  transition: all 0.3s;
}
